@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

#navbar {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 5px;
  font-family: "Abel", sans-serif;
  text-decoration: none;
  font-size: 30px;
}

.myName {
  background-image: url(https://i.imgur.com/dnzeLz0.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 1;
  display: flex;
}
.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.jessPic {
  border-radius: 90%;
  display: flex;

  justify-content: space-between;
}
.splitkick {
  display: flex;
  align-items: center;
}

img.center {
  background-position: left;
  background-size: cover;
  opacity: 0.9;
}
button {
  float: center;
}
p {
  font-family: "Abel";
  font-size: 25px;

  color: #ffffff;
  text-align: left;
}
h3 {
  font-family: "Abel";
  font-size: 25px;

  color: #ffffff;
  text-align: left;
}

h1 {
  font-family: "Abel", sans-serif;
  font-size: 90px;
  color: #ffffff;

  text-align: center;
}

h2 {
  font-family: "Abel", sans-serif;
  font-size: 30px;
  color: #ffffff;

  text-align: center;
}
ul {
  font-family: "Abel", sans-serif;
  font-size: 25px;
  color: #ffffff;
}

button {
  z-index: 0;
  font-size: 24px;
  border: dashed;
  border-color: rgb(126, 126, 126);
  background-color: #ffffff;
}
body {
  --stripe: #100f0f;
  --bg: #000000;

  background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -25px 0, linear-gradient(225deg, var(--bg) 5%, transparent 25%) -25px 0, linear-gradient(315deg, var(--bg) 5%, transparent 25%), linear-gradient(45deg, var(--bg) 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: var(--stripe);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links {
  background-color: black;
  font-family: "Abel", sans-serif;
  font-size: 30px;
  color: #ffffff;
  padding: 60px;
  border: dashed;
  border-color: whitesmoke;
}
