body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  color: rgb(255, 255, 255);
  justify-content: flex-end;
}

body {
  background-image: url("https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?cs=srgb&dl=pexels-rahul-716398.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100%;
}

ul li {
  margin: 0 30px 0;
}
.nav-bar {
  margin: 0 0 3px 0;
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: 30px;
}
